torch
torchvision
torchaudio
open_clip_torch
timm
tyro
wandb
h5py
openai
hydra-core
distinctipy
ultralytics
dill
supervision
open3d
imageio
natsort
kornia
rerun-sdk
record3d
pyliblzfse
pypng
tabulate
pympler
plyfile
numpy<2.0
psutil
faiss-cpu
scipy
scikit-learn
git+https://github.com/ultralytics/CLIP.git
